{
  "rules": {
    "comma-dangle": [2,"never"],
    "no-cond-assign": [2,"except-parens"],
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [2,"functions"],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "accessor-pairs": 2,
    "block-scoped-var": 2,
    "consistent-return": 2,
    "curly": [2,"all"],
    "dot-notation": 2,
    "dot-location": [2, "property"],
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-div-regex": 2,
    "no-loop-func": 2,
    "no-redeclare": 2,
    "radix": 2,
    "vars-on-top": 0,
    "wrap-iife": [2,"any"],
    "strict": [2,"function"],
    "no-shadow": 0,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,
    "callback-return": 2,
    "handle-callback-err": 2,
    "array-bracket-spacing": [2,"never",{}],
    "brace-style": [2,"1tbs",{}],
    "camelcase": [2,{"properties":"always"}],
    "comma-spacing": [2,{"before":false,"after":true}],
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": [2,{"skipBlankLines":false}],
    "quotes": "error",
    "semi": ["error", "always"],
    "indent": ["error", 4, {"SwitchCase": 1}]
  },
  "env": {
    "node": true,
    "browser": true
  }
}